*{
    
    margin: 0px;
    padding: 0px;
}
/*-============================================================-*/
/*-=======================Header area==========================-*/
/*-============================================================-*/
.header-area {
    border-top: 5px solid #F55856;
}
span{
    color: #F55856;
}
.header-area {
    padding-top: 10px;
}
.header-area>.container>.row>.header-top>.header-top-left>li>a{
    font-size: 15px;
    color: darkgray;
    font-weight: 500;
    cursor: auto;
}
.header-area>.container>.row>.header-top>.header-top-left>li>a:hover{
    color: darkgray;
}
a {
    color: grey;
}
a:hover, a:focus {
    text-decoration: none;
    color: #F55856;
}

.header-area>.container>.row>.header-top>.header-top-right>li>a{
    font-size: 15px;
    color: darkgray;
    font-weight: 500;
    text-transform: uppercase;
}
.header-area>.container>.row>.header-top>.header-top-right>li>a:hover{
    color: #F55856;
}





/*-============================================================-*/
/*-=======================Navbar===============================-*/
/*-============================================================-*/
.header-navbar{
    background: #F5F6F1;
    width: 100%;
    height: 200px;
}
.header-navbar>.container>.row>.nav-logo>.logo{
    padding:35px;
}
.navbar-default {
    background-image:none;
    background-repeat:none;
    border-radius: 0px;
    box-shadow: none;
    background-color:transparent;
    border-color: transparent;
}
.navbar-default {

}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    
}
.nav-pills > li > a {
    border-radius: 0px;
}
.nav > li > a {
    text-transform: uppercase;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #F55856;
    background-color: transparent;
}


.nav>li>a>span{
    padding-left: 15px;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:#F55856;
    background-color: #FCFBFB;
}
.dropdown-menu > li > a:hover {
    background-color:transparent;
    background-image: url("");
}
.dropdown-menu .divider {
    overflow: visible;
    margin: 31px 0px;
}
.dropdown-menu > li > a:frist-child{
    margin-top: 5px;
}
/*--===================content-header============================--*/

.content-header{
    width: 100%;
    height: 30px;
    
}
.content-header>.container>.row>.left>p{
    font-size: 18px;
    padding-bottom: 15px;
}
/*--====================content===========================--*/
.content{
    background: #F8F8F8;
    width: 100%;
    border-top: 1px solid #E6E6E6;
    padding-top: 40px;
    margin-top: 30px;
}

.thumbnail {
    padding: 0px;0px;
    border: none;
    border-radius: 0px;
    background-color:transparent;
    box-shadow: none;
}


.hovereffect{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(245,119,117,.8);
    top: -100%;
    transition: 0s;
}
.hovereffect:hover .overlay{
    top: 0;
    cursor: pointer;
}
.overlay-icon{
   position: absolute;
   bottom: -100%;
    left: 45%;        
}
.overlay-icon>i{
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 100%;
    color: #FFF;
    padding: 11px;
    font-size: 27px;
}
.hovereffect:hover .overlay-icon{
    bottom: 45%;
    cursor: pointer;
}

.caption-text{
    padding-left: 15px;
    padding-bottom: 12px;
}
.caption-text h1{
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
}
.caption-text h1:hover{
    cursor: pointer;
    color:#F55856; 
}
.caption-text p{
    font-size: 19px;
    font-family: justify;
}
.caption-text span{
    font-size: 23px;
}
.caption-text span:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #f55856;
}


.blogpostcategory {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 40px;
    padding: 0px;
    height: auto !important;
    border-bottom: medium double #DDD;
}
.audioplayer{
   margin-bottom: 16px;
    border-top: 24px solid #484848;
    width: 100%;
    
}

/*-=================right-content=====================--*/
.right-sidebar{
    width: 100%;
}
.sidebar{
    background-color: #fff;
}
.right-header>h2,.right-header>h1{
    text-transform: uppercase;
    font-size: 31px;
    color: rgba(0,0,0,.7);
    font-weight: bold;
}
.widget-line{
    border-bottom: 3px solid #F55856;
    width: 20%;
    margin-bottom: 20px;
}


#menu>li{
    padding: 11px 0px;
}

.search{
    width: 100%;
    height: 41px;
    color: #463F3A;
    padding: 0px 15px;
}
.recent-hovereffect>img{
    width: 100%;
    height: 100%;
}
.recent-hovereffect{
    position: relative;
    overflow: hidden;
}
.recent-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
    top: -100%;
    transition: 0s;   
}
.recent-hovereffect:hover .recent-overlay{
    top: 0;
    cursor: pointer;  
}

/*-=============slider bottom======================--*/
.item>img{
    width: 100%;
    height: 100%;
}
/*--==========btn group=========================--*/
.btn {
    padding: 9px 8px; 
    border-radius: 0px;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    float: none;
    width: 61px;
    font-size: 13px;
    margin: 2px;
}
.btn-default {
    background-image:none;
    background: #f5f6f1;
    border-color: transparent;
}
.btn-default {
    box-shadow: 0px 0px 0px solid #fff;
}
.btn-default:hover {
    color: #fff;
    background-color: #f55856;
    border-color: transparent;
}
/*-============================================================-*/
/*-=======================Wordpress theme======================-*/
/*-============================================================-*/
.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}
.wordpress>.jumbotron>.container>.row>.details>h2{
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
}
.wordpress>.jumbotron>.container>.row>.details>p{
    font-size: 18px;
    text-align: center;
}
.wordpress>.jumbotron>.container>.row>.details>p>a:hover{
    cursor: pointer;
    text-decoration: underline;
}
/*-============================================================-*/
/*-=======================Footer top===========================-*/
/*-============================================================-*/
.footer-top{
    background: #47403A; 
    width: 100%;
    height: 200px;
    padding-top: 80px;
    margin-top: -29px;
}
.footer-top>.container>.row>.footer-menu>.menu>.nav>li>a{
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    padding: 0px 11px;
}
.footer-top>.container>.row>.footer-menu>.menu{
    margin-top: 0px;
}
.footer-top>.container>.row>.footer-menu>.menu>.nav>li>a:hover{
    color:  #f55856;
}
.footer-top>.container>.row>.footer-menu>.menu>.nav>li>a>span{
    padding-left: 14px;;
}
.footer-top>.container>.row>.footer-menu>p{
    color: #fff;
    font-size: 15px;
    margin-top: 40px;
    padding-left: 28px;
}
.arrow-icon{
    
}
.arrow-icon>a>icon{
    width: 50px;
    height: 51px;
    background: #000 none repeat scroll 0% 0%;
    text-align: center;
    padding-top: 18px;
}
.arrow-icon>a>icon:hover{
    background: #CA524F;
    color: #fff;
}
/*-==========================pagination======================-*/
.pagination > li > a{
    color: #fff;
    background-color: #9A9A9A;
    border:none;
    height: 41px;
    padding: 12px;
    margin-left: 4px;
}
.pagination > li:first-child > a{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 41px;
    padding: 12px;
    cursor:auto;
}
.pagination > li:first-child > a:hover{
    background:#9A9A9A;
    color: #fff;
}
.pagination > .active > a, .pagination > .active > a:hover {
    background-color: #f55856;
    border-color: transparent;
    height: 41px;
    padding: 12px;
}
.pagination > li > a:hover{
    z-index: 1;
    color: #fff;
    background-color: #f55856;
    border-color: transparent;
}
.pagination > li:last-child > a {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*-============================================================-*/
/*-=======================Footer Bottom========================-*/
/*-============================================================-*/

.footer-bottom{
    background: #3B3532;
    height: 60px auto;
    padding: 8px;
}
.social {
    margin: 0;
    padding: 0;
    list-style: none;
}

.facebook,
.dribbble,
.twitter,
.mail,
.pinterest {
    background-image: url("../images/topSocialIcons.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    transition: all ease .5s;
}

.facebook {
    background-position: -90px -40px;
}

.facebook:hover {
    background-position: -90px 0;
}

.dribbble {
    background-position: -180px -40px;
}

.dribbble:hover {
    background-position: -180px 0;
}

.twitter {
    background-position: -135px -40px;
}

.twitter:hover {
    background-position: -135px 0;
}

.mail {
    background-position: 0 -40px;
}

.mail:hover {
    background-position: 0 0;
}

.pinterest {
    background-position: -45px -40px;
}


.pinterest:hover {
    background-position: -45px 0;
}
.footer-bottom>.container>.row>.bottom-para>p{
    color: #FFF;
    font-size: 16px;
}
.footer-bottom>.container>.row>.bottom-para>p>a:hover{
    cursor: pointer;
    text-decoration: underline;
}